name: build

on:
  push:
    tags:
      - "v*"   # 只在 v 开头的 tag 时触发，比如 v1.0.0

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10.10.0 # 你用的 pnpm 版本

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Package
        run: pnpm run package
        # 产物在 build/ 目录

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/*
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
